@{
    ViewData["Title"] = "add lobby";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>add a lobby, this is the get page</p>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddLobby" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label"> id </label>
                    <input name="LobbyIds" class="form-control" type="number"/>
                </div>
            </form>
        </div>
    </div>
</div>
