@model Dictionary<long, Lobby>

@{
    ViewData["Title"] = "lobbies";
}

<div class="text-center">
    @if (Model != null)
    {
        foreach(var lobby in Model)
        {
            <a href="/@lobby.Key">
                <h3> @lobby.Value.match?.name </h3>
            </a>
        }
    }
</div>
