@model Alias

@{
    ViewData["Title"] = "lobbies";
}

<div class="text-center">
    @if (Model != null && Model.Lobbies != null)
    {
        foreach (var lobby in Model.Lobbies)
        {
            <a href="/@lobby.Key">
                <h3> @lobby.Value.match?.name </h3>
            </a>
        }
    }
</div>
